* {
  margin: 0px auto;
  list-style: none;
  font-family: "Dosis";
}

body {
  background-image: url(./img/html_background_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  width: 1120px;
}

/* header */
.header {
  margin-bottom: 60px;
  height: 80px;
  background-color: #112d4e;
}
.header h1 {
  color: white;
  font-size: 32px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: center;
}
