/* convert */
.convert .title {
  color: #fff;
  text-shadow: 5px 10px 12px rgba(0, 0, 0, 0.25);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
.convert .desc {
  margin-top: 10px;
  margin-bottom: 32px;
  color: #fff;
  text-shadow: 0px 8px 12px rgba(0, 0, 0, 0.25);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}
.convert .top {
  width: 645px;
  height: 370px;
  border-radius: 15px;
  background: rgba(219, 226, 239, 0.1);
}
.convert .top img {
  padding-top: 66px;
  padding-left: 222px;
  width: 200px;
}
.convert .select,
.convert .run {
  margin-top: 50px;
  margin-left: 50px;
  width: 544px;
  height: 54px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.25);
  color: #f9f7f7;
  text-align: center;
  font-family: serif;
  font-size: 36px;
  font-style: normal;
  font-weight: lighter;
  line-height: 54px;
}
.convert .run {
  margin-top: 30px;
  border: 0px;
}
.convert .select:hover,
.convert .run:hover {
  color: grey;
  cursor: pointer;
}
.convert .bottom {
  box-sizing: border-box;
  overflow-y: scroll;
  margin-top: 22px;
  padding: 24px 60px;
  width: 645px;
  height: 370px;
  border-radius: 15px;
  background: rgba(219, 226, 239, 0.1);
}
.convert .bottom .subtitle {
  padding-bottom: 12px;
  color: #fff;
  text-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
  font-family: serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
.convert .bottom .sub-desc {
  margin-bottom: 20px;
  color: #fff;
  font-family: serif;
  font-size: 16px;
  font-style: normal;
  font-weight: lighter;
  line-height: normal;
}
.convert .lists ul {
  display: flex;
  flex-direction: column;
}
.convert .lists ul li {
  list-style-type: none;
  display: flex;
  align-items: center;
  padding: 10px 0px;
  margin: 5px 20px;
  font-size: 18px;
  color: white;
}

/* guide */
.guide {
  margin-top: 80px;
  width: 1120px;
}
.guide .title {
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
  font-family: serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.guide .step ul {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  border-radius: 20px;
  background: rgba(63, 114, 175, 0.2);
  box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.guide .step li {
  display: flex;
  width: 300px;
  list-style: none;
  color: #fff;
  font-family: serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}
.guide .step li span {
  display: inline-block;
  color: black;
  background-color: #fff;
  width: 60px;
  height: 24px;
  border-radius: 50px;
  margin-right: 18px;
  text-align: center;
}

/* team */
.team {
  margin-top: 80px;
  width: 1120px;
}
.team h2 {
  margin-bottom: 30px;
  color: #fff;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.25);
  font-family: serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  text-align: center;
}
.team ul {
  display: flex;
  justify-content: space-between;
}
.team ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  width: 265px;
  height: 400px;
  border-radius: 20px;
  background: rgba(63, 114, 175, 0.2);
  box-shadow: 5px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.team .circle {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  background-color: white;
}
.team .circle img {
  height: 190px;
}
.team .name,
.team .matric-no {
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
  font-family: serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
